body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font: 400 14px/23px Arial, sans-serif;
	color: #333;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
	background: #fff;
}
header {
	position: relative;
	z-index: 2;
	width: 100%;
	background: #E5EBF7;
}

header p{
	position: absolute;
	right: 25px;
	top: -25px;
}

header p a{
	border: 2px solid rgba(20,71, 104, 0.1);
	padding: 5px;
	border-radius: 5px;
	color: #333;
}


header > div{
	position: relative;
}

header.fixed > div {
	padding: 5px 30px;
	text-align: right;
}
header img {
	max-width: 80%;
	width: 400px;	
}


header,
footer {
	background: #E5EBF7;
}

header {
	padding: 25px 0;
	border-bottom: 2px solid rgba(20,71, 104, 0.1)
}
footer{
	border-top: 2px solid rgba(20,71, 104, 0.1)
}


main > div,
header > div,
footer > div {
	max-width: 960px;
	margin: 0 auto;
	padding: 10px 30px;
}
footer > div {
	text-shadow: 1px 1px #fff;
}
header > div {
	text-align: center
}
figure {
	margin: -3.5em 0 1.5em;
}
a {
	color: #333;
	display: inline-block;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 2px dotted #444;
}
a:hover {
	color: #60697f;
	text-shadow: 1px 1px 5px #fff;
}
ul {
	text-align: left;
}
h1 {
	margin: 0;
}
h2 {
	font: 700 18px/24px 'Arial', sans-serif;
	margin: 0 0 5px;
}
main > div {
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
}

main > div section{
	margin: 25px 0;
}

main > div section:first-child{
	width: 100%;
	border: 0
}

main > div section + section {
	-webkit-flex: 1 1 200px;
	flex: 1 1 200px;
}

@media all and (min-width:440px) {
	main > div section{
		padding: 15px;
		margin: 15px;
		border: 2px solid rgba(20,71, 104, 0.04);
		border-radius: 10px;
	}
}