---
---

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">

    <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="/css/base.css" rel="stylesheet" media="screen">

    <title>{{ site.title }}</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center logo">
                <img src="/img/hermes.png" alt="Hermes"/>
            </div>
        </div>
        <div class="row text-center">
            <h2>Reliable and easy to use message broker built on top of Kafka.</h2>
        </div>
        <div class="row hero-bullets text-center">
            <div class="col-md-3 hero-bullet">
                <a href="#why">
                    <i class="fa fa-question fa-4x"></i>
                    <br/>
                    <span>Why?</span>
                </a>
            </div>
            <div class="col-md-3 text-center hero-bullet">
                <a href="http://hermes-pubsub.readthedocs.org/en/latest/quickstart/" target="_blank">
                    <i class="fa fa-terminal fa-4x"></i>
                    <br/>
                    <span>Quickstart</span>
                </a>
            </div>
            <div class="col-md-3 text-center hero-bullet">
                <a href="http://hermes-pubsub.rtfd.org" target="_blank">
                    <i class="fa fa-book fa-4x"></i>
                    <br/>
                    <span>Documentation</span>
                </a>
            </div>
            <div class="col-md-3 text-center hero-bullet">
                <a href="https://github.com/allegro/hermes" target="_blank">
                    <i class="fa fa-github fa-4x"></i>
                    <br/>
                    <span>Code</span>
                </a>
            </div>
        </div>

        <section id="why">
            <h2>Why Hermes?</h2>
            <div class="row why-bullets">
                <div class="col-md-5 col-md-offset-1">
                    <ul>
                        <li>
                            <i class="fa fa-magic fa-4x pull-left"></i>
                            publish by sending http post, consume by creating an http endpoint:
                            integrate with any technology in seconds
                        </li>
                        <li>
                            <i class="fa fa-database fa-4x pull-left"></i>
                            Hermes is reliable - never lose a message is our top priority, even when
                            all things go south
                        </li>
                        <li>
                            <i class="fa fa-area-chart fa-4x pull-left"></i>
                            everything is measured, just gather the metrics in your metric store
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul>
                        <li>
                            <i class="fa fa-clock-o fa-4x pull-left"></i>
                            Hermes is predictable with guaranteed maximum response time - it's
                            easy to provide an SLA
                        </li>
                        <li>
                            <i class="fa fa-map-o fa-4x pull-left"></i>
                            with message tracking you always know how and when did the messages
                            go through your system
                        </li>
                        <li>
                            <i class="fa fa-desktop fa-4x pull-left"></i>
                            managing topics and subscriptions is easy with Hermes Console
                        </li>
                        <li>
                            <i class="fa fa-send-o fa-4x pull-left"></i>
                            you get all this at a price of sub-millisecond overhead over pure Kafka
                            (plus network transfer time)
                        </li>
                    </ul>
                </div>
            </div>

        </section>

        <section id="links">
            <h2>Our story</h2>
            <p>
                <a href="http://allegro.pl">allegro</a> is Polish biggest ecommerce site. To sustain our growth, we came to the
                point when technological revolution could no longer wait. Thus, our migration from monolithic to
                microservice architecture.
            </p>
            <p>
                Soon it became apparent that there are no microservices without async communication and messaging. This
                is when project Hermes first surfaced. We decided to build it on top of Kafka for its superb
                performance and fault tolerance. However, we were looking for a tool that would be easy to integrate with,
                regardless of technology. It should also take care of corner cases and things that require expert
                knowledge of Kafka design.
            </p>
            <p>
                Hermes helps us integrate our 2000+ microservices, at the same time being strongly focused on losing no
                message. During our time-serving production traffic, we encountered a lots of corner cases and situations,
                where it was hard to keep Kafka cluster stable. Hermes with it's 100% message delivery guarantees
                had to acquire features, that allow it on accepting traffic even when Kafka is down.
            </p>
            <p>
                This is how Hermes became the heart of our new architecture, serving 300 000 rps of incoming and over
                1 000 000 rps of outgoing traffic. Integrating Java, Python, Go and PHP. Allowing our developers to manage
                their own topics and subscriptions. Making it easy to perform message retransmissions and
                providing tools for debugging every single message.
            </p>
        </section>

        <section id="team">
            <h2>Development team</h2>
            <div class="row team text-center">
                {% for member in site.data.team %}
                    <div class="col-md-2 team-member">
                        <a href="{{ member.url }}" target="_blank">
                            <img src="{{ member.photo }}" class="img-circle"/>
                            <br/>
                            {{ member.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section id="hof">
            <h2>Hall of Fame</h2>
            <div class="row team text-center">
                {% for member in site.data.hof %}
                <div class="col-md-2 team-member">
                    <a href="{{ member.url }}" target="_blank">
                        <img src="{{ member.photo }}" class="img-circle"/>
                        <br/>
                        {{ member.name }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>
